.profile-container {
	height: 350px;
	width: 800px;
	border: 1px solid black;
	margin: 0 auto;
}

img {
	height: 200px;
	width: 200px;
	float: left;
	padding: 10px;
	margin: 30px;
}

.info-container {
	border: 1px solid black;
	float: left;
	padding: 10px;
	margin: 30px auto;
}

span {
	font-weight: 800;
	font-size: 20px
}